/* All Css works from here*/
.blue {
  background-image: url("images/bgk-footer.png");
  color: white;
  width: 100%;
  height: 430px;
  background-size: cover;
}
.client-contact {
  background-image: none;
  color: gray;
  width: 100%;
  height: 500px;
  font-family: Times New Roman, serif;
}

.footer1 {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.dribble {
  background-image: url("images/png/dribble.png");
  width: 3px;
  height: 3px;
}

#newsletter {
  background-image: url("images/png/bgk-footer.png");

  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  /*border-radius: 40px;*/
  box-sizing: border-box;
}
.tajam h3 {
  color: #b0e0e6;
}

.grid-container {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 80%;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ourStory {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
#content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: baseline;
  width: 50%;
  margin-top: 24px;
}
.storyP {
  line-height: 1.5;
}
#storyImg {
  margin-right: 40px;
}
.storyBtn {
  width: 100px;
  font-size: 11px;
  font-weight: bold;
  color: rgb(67, 208, 185);
  padding: 8px 8px;
  background-color: white;
  border: 1px solid rgb(67, 208, 185);
}
#watch-section {
  background-image: url("images/bgk-middle.png");
  height: 550px;
  position: relative;
}

#watch-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

#play {
  margin-bottom: 16px;
}
#storyh3 {
  color: white;
  display: inline;
  padding-right: 0;
}

/* Expertise section starts*/
#expertise-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#expertise-section hr {
  width: 4%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}
.grid-container p {
  text-align: center;
}
.headexpertise {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 5%;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 150px;
}
.grid-item1,
.grid-item2,
.grid-item4,
.grid-item5 {
  border-right: solid 1px;
  border-right-color: gainsboro;
}

.btn:hover {
  opacity: 0.6;
}

.grid-item4,
.grid-item5,
.grid-item6 {
  padding-top: 10%;
  border-top: solid 1px;
  border-top-color: gainsboro;
}
/* Expertise section ends*/

/* Team section starts*/
#team-section {
  margin-top: 8%;
  background: url(./images/bgk-header.png);
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.headteam {
  color: whitesmoke;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.boxgroup {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.box1 {
  background-color: white;
  height: 150px;
  width: 150px;
}
.innerbox {
  width: 148px;
  height: 60px;
  color: whitesmoke;
  border: 1px solid;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bootomteam {
  color: whitesmoke;
  padding-top: 5%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
#hiring {
  width: 150px;
  height: 40px;
  background: none;
  color: aquamarine;
  border: 1px solid;
  border-color: aquamarine;
  margin-top: 30px;
}
.horizontalline {
  padding-top: 20px;
}

/*To here*/
.background-header {
  background-image: url(images/bgk-header.png);
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
}

.logocon img {
  width: 50px;
}

.logocon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  gap: 18px;
}

.hrtag {
  border-color: aqua;
  width: 5%;
}

.bootomteam div {
  margin-bottom: 28px;
}
.logoname {
  font-size: 20px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: turquoise;
  text-decoration: none;
}

.home {
  color: aqua;
}

ul a {
  color: white;
  text-decoration: none;
  list-style: none;
  text-decoration: solid;
  margin-right: 10px;
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 12px;
}

ul a:hover,
.nav {
  color: #2e87b0;
  transition: 0.3s;
}

.cen {
  color: white;
}

.textbox p {
  padding: 0 10rem;
  font-size: 15px;
  color: white;
  text-align: center;
}

.btn {
  color: aqua;
  padding: 10px 24px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.6s;
  border: 1px solid aqua;
  margin-top: 2rem;
}

.btn:hover {
  opacity: 0.6;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 18px;

  font-style: normal;
}

h3 {
  padding-right: 300px;
  font-size: 18px;
  font-style: normal;
}

.contact-page {
  display: flex;
  padding-top: 50px;
  column-gap: 40px;
  row-gap: 20px;
  justify-content: center;
}

.container2 {
  margin-top: 5px;
  margin-bottom: 10px;
  flex-direction: row;
  row-gap: 5px;
  width: 10px;
}

.logos {
  font-style: oblique;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 50px;
}

form button {
  width: 30%;
  border: #252525;
  color: aqua;
  transition: 0.2s;
}

form button:hover {
  cursor: pointer;
  color: aqua;
}

form button:active {
  box-shadow: insert 3px 2px 15px -5px #252525;
  cursor: pointer;
}

.sponsor-logos {
  /* Style the logos */
  width: 200px;
  height: 50px;
  margin-top: 10px;

  /* Position the logo */
  position: right;
  margin-left: 500px;
}
