
.blue {
 background-image: url("images/bgk-footer.png");
 color :white;
 width: 100%;
 height: 430px;
 background-size: cover;


}
.client-contact{
background-image:none;
color :gray;
width: 100%;
height: 500px;
font-family: Times New Roman, serif;

}



.footer1 {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.dribble{
 background-image: url("images/png/dribble.png");
 width: 3px;
 height: 3px;
}

#newsletter {

  background-image: url("images/png/bgk-footer.png");

  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  /*border-radius: 40px;*/
  box-sizing: border-box;
}
.tajam h3{
 color:#b0e0e6;
}

.grid-container {

    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;
}




    .grid-item {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ourStory {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
  }
#content {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: baseline;
    width: 50%;
    margin-top: 24px;
  }
.storyP {
    line-height: 1.5;
  }
#storyImg {
    margin-right: 40px;
  }
.storyBtn {
    width: 100px;
    font-size: 11px;
    font-weight: bold;
    color: rgb(67, 208, 185);
    padding: 8px 8px;
    background-color: white;
    border: 1px solid rgb(67, 208, 185);
  }
#watch-section {
    background-image: url("images/bgk-middle.png");
    height: 550px;
    position: relative;
}

#watch-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 640px;
    top: 220px;
    
}

#play {
    margin-bottom: 16px;
}
#storyh3 {
    color: white;
}


/* Expertise section starts*/
#expertise-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; 
}
#expertise-section hr {
  width: 4%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;  
}
.grid-container p{
text-align: center;
}
.headexpertise{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

.grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item5,.grid-item6{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 150px;

}
.grid-item1,.grid-item2,.grid-item4,.grid-item5{
    border-right: solid 1px;
    border-right-color: gainsboro;
   }


   .btn:hover {
    opacity: .6;

   }

.grid-item4,.grid-item5,.grid-item6 {
    padding-top: 10%;
    border-top: solid 1px;
    border-top-color: gainsboro;
    
}
/* Expertise section ends*/

/* Team section starts*/
#team-section{
  margin-top: 8%; 
  background: url(./images/bgk-header.png);
  align-items: center;    
  display: flex;
  justify-content: space-around;
  flex-direction: column;  
}
.headteam{
  color:whitesmoke;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.boxgroup{
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.box1{
background-color: white;
height: 150px;
width:150px;

}
.innerbox{
  width:148px;
  height: 60px;
 color: whitesmoke;
 border: 1px solid;
 border-color: gray;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column; 
}
.bootomteam{
  color: whitesmoke;  
  padding-top: 5%;
  display: flex;   
  text-align: center;
  flex-direction: column;   
}
#hiring{
  width: 150px;
  height: 40px;
  background: none;
  color: aquamarine;
  border: 1px solid;
  border-color: aquamarine;
  margin-top: 30px;
}
.horizontalline{
  padding-top: 20px;
}



